<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>발전수익</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="css/main.css" />

</head>

<body>

    <div class="menu">
        <table>
            <tr>
                <td>
                    <button id="power-amount-button"
                        class="btn btn-action" data-toggle="modal"
                        data-target="#login-modal">발전량 분석</button>
                </td>
                <td>
                    <button id="income-view-button"
                        class="btn btn-action" data-toggle="modal"
                        data-target="#login-modal">수익 분석</button>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>