<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>날씨맑음</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" href="../img/mal-eum_icon.png" />
<link rel="stylesheet" href="../style/main.css" />

</head>

<body>

    <form style="margin: auto;" th:action="@{/login}" method="post">
        <div>
            <label>이메일 : <input type="text" name="이메일" />
            </label>
        </div>
        <div>
            <label>비밀번호 : <input type="password" name="비밀번호" />
            </label>
        </div>
        <div>
            <input type="submit" value="Sign In" class="btn btn-action"/>
        </div>
    </form>

</body>
</html>