<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>날씨맑음</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link rel="icon" href="img/mal-eum_icon.png" />
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async="async" defer="defer"></script>
<meta name="google-signin-client_id" content="392477545876-jerdbf893pobm1ood309d77rbcftrj9s.apps.googleusercontent.com" />
<link rel="stylesheet" href="style/main.css" />
</head>
<body>

    <div class="login-container">

        <!-- 네이버아이디로로그인 버튼 노출 영역 -->
        <div class = "Naver-login" id="naver_id_login">
            <!-- //네이버아이디로로그인 버튼 노출 영역 -->
            <script type="text/javascript">
                var naver_id_login = new naver_id_login("bKLMI7jFFiSZ4YBow0BO", "http://127.0.0.1:8080/login-naver-callback.html");
                var state = naver_id_login.getUniqState();

                naver_id_login.setButton("green", 3, 48);
                naver_id_login.setDomain(".mal-eum.com");
                naver_id_login.setState(state);
                naver_id_login.setPopup();
                naver_id_login.init_naver_id_login();
            </script>
        </div>
        <div class="Kakao-login">
            <a id="kakao-login-btn"></a>
            <script type='text/javascript'>
                // <![CDATA[
                // 사용할 앱의 JavaScript 키를 설정해 주세요.
                Kakao.init('6e8716e9148da8d14de8969bdcafc32f');
                // 카카오 로그인 버튼을 생성합니다.
                Kakao.Auth.createLoginButton({
                    container : '#kakao-login-btn',
                    success : function (authObj) {
                        alert(JSON.stringify(authObj));
                    },
                    fail : function (err) {
                        alert(JSON.stringify(err));
                    }
                });
                // ]]>
            </script>
        </div>
        <div class="Facebook-login">
            <div id="fb-root"></div>
            <script type="text/javascript">
                window.fbAsyncInit = function () {
                    FB.init({
                        appId : '122042515158701',
                        cookie : true, // enable cookies to allow the server to access 
                        // the session
                        xfbml : true, // parse social plugins on this page
                        version : 'v2.10' // use graph api version 2.8
                    });
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://connect.facebook.net/ko_KR/sdk.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>

            <div class="fb-login-button" data-max-rows="1" data-size="large"
                data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false"
                data-use-continue-as="false"></div>
        </div>
        <div class="Google-login">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <script type="text/javascript">
                function onSignIn(googleUser) {
                    var profile = googleUser.getBasicProfile();
                    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                    console.log('Name: ' + profile.getName());
                    console.log('Image URL: ' + profile.getImageUrl());
                    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                }
            </script>
        </div>
        <div class="Email-login">
            <button id="email-login-button" class="btn btn-action"
                onclick="location.href='/login/email';">이메일 로그인</button>
        </div>
    </div>

</body>
</html>