<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>날씨맑음</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" href="img/mal-eum_icon.png" />
<link rel="stylesheet" href="style/main.css" />
</head>

<body>

    <div class="menu">
        <table>
            <tr>
                <td>
                    <button id="list-button" class="btn btn-action"
                        data-toggle="modal" data-target="#login-modal">나의
                        발전소</button>
                </td>
                <td>
                    <button id="detail-button" class="btn btn-action"
                        data-toggle="modal" data-target="#login-modal">발전소
                        상세</button>
                </td>
                <td>
                    <button id="new-button" class="btn btn-action"
                        data-toggle="modal" data-target="#login-modal">발전소
                        등록</button>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>